body{
    margin: 0px;
    padding: 0px;
    background-color: #F3F3F1;
    box-sizing: border-box
}

i{
    cursor: pointer;
}

/* Modify the background color */
.navbar-custom {
    background-color: lightgreen;
}